{% extends "base.html" %}

{% block content %}
<div class="container col text-center">

    <h1 class="w-full h-40 flex justify-center items-center flex-col py-4">WiCT Executive Team</h1>
    
    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Yasmin-Dibai.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Yasmin Dibai, President</h5>
                    <p class="card-text">Responsible for room-bookings, email, memberships, funds/facilities.</p>
                    <a href="#" class="btn btn-primary">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Isabel-Trujillo.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Isabel Trujillo, Vice-President</h5>
                    <p class="card-text">Responsible for memberships.</p>
                    <a href="#" class="btn btn-primary">Facebook</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Shefali-Vishwakarma.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Shefali Vishwakarma, Finance Lead</h5>
                    <p class="card-text">Responsible for memberships, funds/facilities.</p>
                    <a href="#" class="btn btn-primary">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Sayeema-Afrin.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Sayeema Afrin, Content Creator</h5>
                    <p class="card-text">Responsible for memberships.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Cyrus-Urbanowicz.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Cyrus Urbanowicz, Outreach Lead</h5>
                    <p class="card-text">Responsible for memberships and email.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Zainab-Vajahath.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Zainab Vajahath, Miscellaneous</h5>
                    <p class="card-text">Responsible for memberships.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Amrit-Senghera.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Amrit Senghera, Finance Assistant</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Alexandra-Szilagyi.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Alexandra Szilagyi, Outreach Assistant</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Braidyn-Chang.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Braidyn Chang, Content Coordinator</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Clara-Park.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Clara Park, Content Creator</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Kathy-Nguyen.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Kathy Nguyen, Event Coordinator</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Harleen-Dhillon.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Harleen Dhillon, Event Coordinator</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Phanie-Phan.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Phanie Phan, Admin Coordinator</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Kaylee-Meschke.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Kaylee Meschke, Design Team Lead</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Jake-Loftus.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Jake Loftus, Design Team Lead</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    
    

    
</div>
{% endblock %}