{% extends "base.html" %}

{% block content %}
<div class="container col text-center">

    <h1 class="w-full h-40 flex justify-center items-center flex-col py-4 text-dark-teal">WiCT Executive Team</h1>
    
    <div class="row pt-2">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Yasmin-Dibai.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Yasmin Dibai, <br>President</h5>
                    <p class="card-text text-brown">Oversees all WiCT matters to ensure that all operations are with due authority and in the best interest of the organization and its members, while ensuring that WiCT’s goals are being actively pursued.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Zainab-Vajahath.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Zainab Vajahath, <br>Co-Founder/President</h5>
                    <p class="card-text text-brown">Founded WiCT in 2019.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Isabel-Trujillo.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Isabel Trujillo, <br>Vice-President</h5>
                    <p class="card-text text-brown">Founded WiCT in 2019.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Shefali-Vishwakarma.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Shefali Vishwakarma, <br>Finance Lead</h5>
                    <p class="card-text text-brown">Ensures that WiCT’s financial activities are compliant with SFSS policies and identifies potential financial opportunities to improve WiCT’s operations and functioning.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Cyrus-Urbanowicz.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Cyrus Urbanowicz, <br>Outreach Lead</h5>
                    <p class="card-text text-brown">Email correspondence and monitoring while developing relationships with various organizations and industry professionals, who can help and support WiCT’s values by establishing collaborations and partnerships.</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row pt-2">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Alexandra-Szilagyi.png" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Alexandra Szilagyi, <br>Outreach Assistant</h5>
                    <p class="card-text text-brown">Support the Outreach Lead with tasks and further maintaining healthy relationships with WiCT members and the SFU community.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Phanie-Phan.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Phanie Phan, <br>Admin Coordinator</h5>
                    <p class="card-text text-brown">Assists the President with various tasks that support WiCT, its operations, and its goals.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Sayeema-Afrin.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Sayeema Afrin, <br>Content Creator</h5>
                    <p class="card-text text-brown">Research and create content on different trendy topics such as engineering, raising awareness for women in STEM, study tips and informative posts while streamlining and simplifying the process for the Content Creator</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Braidyn-Chang.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Braidyn Chang, <br>Content Coordinator</h5>
                    <p class="card-text text-brown">Research and create content on different trendy topics such as engineering, raising awareness for women in STEM, study tips and informative posts while streamlining and simplifying the process for the Content Creator</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Clara-Park.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Clara Park, <br>Content Creator</h5>
                    <p class="card-text text-brown">Research and create content on different trendy topics such as engineering, raising awareness for women in STEM, study tips and informative posts while streamlining and simplifying the process for the Content Creator</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Kathy-Nguyen.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Kathy Nguyen, <br>Event Coordinator</h5>
                    <p class="card-text text-brown">Coordinates and hosts various workshops, programs, and events, creating new experiences for WiCT members, whilst helping increase awareness of women in STEM.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Harleen-Dhillon.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Harleen Dhillon, <br>Event Coordinator</h5>
                    <p class="card-text text-brown">Coordinates and hosts various workshops, programs, and events, creating new experiences for WiCT members, whilst helping increase awareness of women in STEM.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Kaylee-Meschke.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Kaylee Meschke, <br>Design Team Lead</h5>
                    <p class="card-text text-brown">Lead the annual Design Team through an engineering project, allowing students to apply their technical skills to solve a problem and further explore technical initiatives/concepts outside of the classroom.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Jake-Loftus.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Jake Loftus, <br>Design Team Lead</h5>
                    <p class="card-text text-brown">Lead the annual Design Team through an engineering project, allowing students to apply their technical skills to solve a problem and further explore technical initiatives/concepts outside of the classroom.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/headshots/Devin-Lu.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title text-dark-teal">Devin Lu, <br>Design Team Assistant</h5>
                    <p class="card-text text-brown">Assist the Design Team Lead with managing the Design Team with logistics, meeting minutes, registration and assuring the timely delivery of documents and task completion.</p>
                </div>
            </div>
        </div>
    </div>
    
    

    
</div>
{% endblock %}