{% extends "base.html" %}

{% block content %}
<div class="container col text-center">

    <h1 class="w-full h-40 flex justify-center items-center flex-col pt-2">Execs</h1>
    
    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/wict-logo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Yasmin Dibai, President</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/wict-logo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Isabel Trujillo, Vice-President</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Facebook</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/wict-logo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Shefali Vishwakarma, Finance Lead</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/wict-logo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Sayeema Afrin, Content Creator</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="img-fluid bg-light p-1 card-img-top" src="static/images/wict-logo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Cyrus Urbanowicz, Outreach Lead</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <h5>Yasmin Dibai, President</h5>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-light p-1" src="static/images/wict-logo.png" alt="">
            <p>test</p>
        </div>
        <div class="col">
        </div>
    </div>
    
    

    
</div>
{% endblock %}