{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/images/newtmp.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Women in Clean Tech</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Connecting all students in STEM and exploring clean technology initiatives.</p>
                            <a href="/execs" class="btn btn-primary bg-text-light-teal py-md-3 px-md-5 me-3 animated slideInLeft">Meet the Team</a>
                            <a href="https://www.instagram.com/wict_sfu/?hl=en" target="_blank" class="btn btn-light text-dark-teal py-md-3 px-md-5 animated slideInRight">Get Connected</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-5">
        <h5 class="text-center text-dark-teal display-5 fw-bold">About Women in Clean Tech (WiCT)</h5>

        <p class="text-brown mt-5">Women in Clean Tech (WiCT) is an all-inclusive club aiming to connect students in STEM, as well as facilitate clean tech initiatives and projects for our club members.</p>
        <p class="text-brown mb-3 mt-4">Our club objectives are:</p>
        
        <ul class="text-brown">
            <li>Support and connect women in STEM and allies</li>
            <li>Provide a social media platform for students to remain on top of topics trending in (clean) tech, to explore topics related to the clean technology, student mental health, study tips, etc. </li>
            <li>Create technical experience for our members through design teams
                In the past years, we've run annual design teams that have competed in The James Dyson Award, CSA and NASA and currently in the ASHRAE building design competition. Students gain technical experience, new skills and network with industry professionals.</li>
        </ul>

        <p class="text-brown mt-3">Over the past year, our club has grown exponentially due to our social media presence. We have gained ~900 followers (@wict_sfu) in under a year and accumulated an audience of members from all over Western Canada Universities to California and Jamaica!
            Having made these unique connections, we have been able to provide our members with unique opportunities and branch out beyond a club and into a community. On the WiCT Instagram, we cover the hottest topics in tech, career and study tips, the importance of mental health and highlight strong women in STEM in our WiCT Vogue covers.</p>
    </div>
</div>

{% endblock %}