{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/images/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Engineering made easy</h5>
                            <h1 class="display-3 text-white animated slideInDown">Women in Clean Tech</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Connecting all students in STEM and exploring clean technology initiatives.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-5">
        <h5 class="text-center fw-bold display-5">About Women in Clean Tech</h5>

        <p class="lead mb-4 mt-5">An SFU-Surrey based club that works to promote and educate others about sustainable
            technology and connect women who are passionate about clean technology with each other and those
            who support them. While the focus of this club is to connect and support the female student body
            interested in this field, all are welcome to join.</p>
        
        <p class="lead mt-5">Women in Clean Tech (WiCT) is an all-inclusive club aiming to connect students in STEM, as well as
            facilitate clean tech initiatives and projects for our club members.
            Our club objectives are:</p>
        
        <ul class="lead">
            <li>Support women students in STEM</li>
            <li>Connect students in STEM through social engagement</li>
            <li>Provide a platform to explore topics related to the clean technology, student mental health,
                study tips, etc.</li>
            <li>Facilitate projects for club members</li>
            <li>Promote and educate sustainable technology among students</li>
        </ul>

        <p class="lead mt-5">Over the past year, our club has grown exponentially due to our social media presence. We have gained
            over 800 followers (@wict_SFU) in under a year and accumulated an audience of members from all over
            Western Canada Universities to California and Jamaica!
            Having made these unique connections, we have been able to provide our members with unique
            opportunities and branch out beyond a club and into a community. On the WiCT Instagram, we discuss
            topics such as student mental health and a work-life balance, interview and job search tips, study tips
            and general information in the STEM community.</p>
    </div>
</div>

{% endblock %}