{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-0 mb-5 text-center">
    <h1 class="w-full h-40 flex justify-center items-center flex-col py-4 text-dark-teal">WiCT Merch</h1>

    <div class="container-xxl">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <a href="https://raincvr.myshopify.com/" target="_blank"><button type="button" class="btn btn-primary bg-text-dark-teal mb-4 fw-bold">Merch Store</button></a>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid merch-img-scale" src="static/images/wict-merch-1.jpeg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4 text-brown">
                                <a href="https://raincvr.myshopify.com/collections/frontpage/products/seess-crewneck" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary bg-text-dark-teal px-3">Buy Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0 text-brown">$40.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>RAINCVR</small>
                            </div>
                            <h5 class="mb-4 text-brown">SEESS Crewneck</h5>
                        </div>
                        <div class="border-top"></div>
                    </div>
                </div>
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid merch-img-scale" src="static/images/wict-merch-2.jpeg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4 text-brown">
                                <a href="https://raincvr.myshopify.com/collections/frontpage/products/seess-hoodie" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary bg-text-dark-teal px-3">Buy Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0 text-brown">$40.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>RAINCVR</small>
                            </div>
                            <h5 class="mb-4 text-brown">SEESS Hoodie</h5>
                        </div>
                        <div class="border-top"></div>
                    </div>
                </div>
                <div class="col wow fadeInUp" data-wow-delay="0.5s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid merch-img-scale" src="static/images/wict-merch-3.jpeg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4 text-brown">
                                <a href="https://raincvr.myshopify.com/collections/frontpage/products/white-round-collar-t-shirt" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary bg-text-dark-teal px-3">Buy Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0 text-brown">$30.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small>RAINCVR</small>
                            </div>
                            <h5 class="mb-4 text-brown">SEESS T-SHIRT</h5>
                        </div>
                        <div class="border-top"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}